%p#notice= notice
%h1 Listing Bookings
%table.display{:cellspacing => "0", :id => "", :width => "100%", 'data-source' => root_path(format: "json")}
  %thead
    %tr
      %th Room
      %th User
      %th Start time
      %th End time
      %th Status
      %th Action
  