%p#notice= notice
%h1 Listing Facilities
%table.display{:cellspacing => "0", :id => "", :width => "100%", 'data-source' => facilities_path(format: "json")}
  %thead
    %tr
      %th Name
      %th Action
%br/
= link_to 'New Facility', new_facility_path
