%p#notice= notice
%h1 Listing Rooms
%table.display{:cellspacing => "0", :id => "", :width => "100%", 'data-source' => rooms_path(format: "json")}
  %thead
    %tr
      %th Location
      %th Capacity
      %th Name
      %th Facility
      %th Action
%br/
- if can? :new, Room
  = link_to 'New Room', new_room_path
